**/*.min.css
assets/js/search/*.js
assets/css/main.scss
**/*.map
assets/js/distillpub/template.v2.js
_posts/2015-10-20-math.md
**/*.min.js
assets/plotly/**
assets/js/search-data.js
lighthouse_results/**
