<div class="skills-container">
  {% for content in data[1] %}
  <div class="skill-group" title="{{ content.level }}">
    <div class="skill-category">
      {% if content.icon %}
      <span class="skill-icon">
        <i class="{{ content.icon }}"></i>
      </span>
      {% endif %}
      <span class="title skill-name font-weight-bold">{{ content.name }}</span>
    </div>
    <ul class="skill-list">
      {% for item in content.keywords %}
      <li class="skill-item" style="font-size: 0.95rem">{{ item }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>

<style>
  .skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: transparent;
  }

  .skill-group {
    flex: 1 1 calc(50% - 20px);
    /* Two columns layout */
    background-color: transparent;
    padding: 20px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
  }

  .skill-category {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .skill-icon {
    margin-right: 15px;
    font-size: 0.95rem;
    color: var(--global-theme-color);
    /* Primary color */
  }

  .skill-name {
    font-weight: bold;
    font-size: 1.25rem;
    color: var(--global-theme-color);
  }

  .skill-list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }

  .skill-item {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    transition: background-color 0.3s ease;
  }

  .skill-item:last-child {
    border-bottom: none;
  }

  .skill-item:hover {
    background-color: transparent;
  }
</style>
